.header {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
}

#user {
    padding: 5px 0px;
    margin: 50px;
}

#timer {
    padding: 5px 0px;
    margin: 50px;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    flex-direction: column;
}

#btn {
}